Source: libpardus
Section: libs
Priority: optional
Maintainer: osman.coskun <osman.coskun@pardus.org.tr>
Build-Depends:debhelper-compat (= 13)
Standards-Version: 4.6.1
Homepage: https://github.com/pardus/libpardus

Package: libpardus
Architecture: all
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: Library for Pardus applications and utilities
 Python3 and GTK4 based Pardus library.
